/* *****************************
 * var
 * *****************************/
:root {
    --header-height: 100px;
    --padding: 20px;
    --margin: 15px;
    --tab-height: 35px;
    --my-black: rgba(50, 50, 50, 70%);
    --back-color: rgb(31, 31, 83);
}

/* *****************************
 * common
 * *****************************/
* {
    box-sizing: border-box;
    font-size: 10pt;
}
*, .sans-serif {
    font-family: 'Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', 'Meiryo','ヒラギノ角ゴシック','Hiragino Sans', sans-serif;
}
.serif {
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',serif;
}
h1 {
    font-size: large;
}
body {
    background-color: var(--back-color);
    height: 100vh;
    margin: 0;
    padding: 0;
}
#wrapper {
    width: max(500px, 90%);
    height: 100vh;
    margin: 0 auto;
    padding: var(--margin) 0;
}

header {
    height: var(--header-height);
    margin: 0;
    margin-bottom: var(--margin);
    background-color: white;
    border-radius: 10px;
    padding: var(--padding);
    position: relative;
}

main {
    margin: 0;
    padding: 0;
}

p {
    text-indent: 1em;
    margin: 5px 0;
}

h3 {
    font-size: 12pt;
    margin: 0;
}
input {
    display: inline-block;
    margin: 0 var(--margin);
    height: 30px;
    vertical-align: middle;
}
input[type="number"] {
    width: 70px;
}

/* *****************************
 * param
 * *****************************/
.dist-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: calc(var(--margin)*2);
}
.dist-item {
    flex-grow: 1;
    width: 70px;
}
.param-panel {
    color: white;
    background-color: var(--my-black);
    padding: var(--padding);
    border-radius: 10px;
    margin-bottom: var(--margin);
    width: 100%;
}
.param-title {
    display: block;
    margin-left: var(--margin);
    margin-bottom: 0;
}
.param-num {
    margin: calc(var(--margin)/2);
    margin-top: calc(var(--margin)/2);
    margin-left: var(--margin);
}
.slider, .param-input {
    margin-left: calc(var(--margin)*2);
}

.slider_value, .slider_unit {
    display: inline-block;
    margin-left: 8px;
}

/* *****************************
 * tab
 * *****************************/
.tab_container {
    padding: 0;
    margin:0;
    height: var(--tab-height);
}
.tab_checkbox {
    display: none;
}

.tab_item:hover {
    background-color: rgb(0, 80, 100);
}
.tab_item {
    display: inline-block;
    color: white;
    font-size: 12pt;
    height: var(--tab-height);
    background-color: var(--my-black);
    padding-left: var(--padding);
    padding-right: var(--padding);
    padding-top: 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 5px;
    border-left: solid 1px gray;
    border-right: solid 1px gray;
    border-top: solid 1px gray;
}

.tab_content {
    border-radius: 15px;
    border-top-left-radius: 0;
    background-color:white;
    padding: var(--padding);
    height: calc(98vh - var(--margin) - var(--header-height) - var(--padding)*2);
    overflow: scroll;
}
/* *****************************
 * header
 * *****************************/
header h1 {
    display: inline-block;
}
#info-checkbox{
    display: none;
}

#info-panel {
    display: none;
    font-size: small;
    float: right;
    color: white;
    width: max(250px, 50%);
    background-color: var(--my-black);
    border-radius: 10px;
    padding: var(--padding);
    font-weight: lighter;
}
#info-panel a {
    color: inherit;
}
#info-panel a::after{
    margin-left: 0.5em;
    content: url("data:image/svg+xml;charset=UTF-9,<svg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-box-arrow-up-right' fill='white' xmlns='http://www.w3.org/2000/svg'>  <path fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/>  <path fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/></svg>");
}
#info-panel a:hover {
    color: pink;
}

#info-checkbox:checked ~ #info-panel {
    display: block;
    margin: 0;
    position: absolute;
    top: 60px;
    left: 250px;
    width: max(210px, 42vw);
}
#info-checkbox:checked ~ .info:after {
    color: rgb(0, 123, 255);
    font-size: small;
    content: "閉じる";
}
.info-item {
    display: inline-block;
    margin-right: 10px;
}
/* *****************************
 * images
 * *****************************/
.info:before {
    margin-left: var(--margin);
    margin-right: 2px;
    content: url("data:image/svg+xml;charset=UTF-9,<svg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-info-circle-fill' fill='rgb(0,123,255)' xmlns='http://www.w3.org/2000/svg'>  <path fill-rule='evenodd' d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z'/></svg>");
}
