<header>
    <div>
        <h1>TITLE</h1>
        <input type = 'checkbox' id = 'info-checkbox'>
        <label for = 'info-checkbox' class = 'info' title = 'これは何?'></label>
        <div id='info-panel'>
            DESCRIPTION
        </div>
        <div>
            <span class = 'info-item'>
                ver.VERSION</span>
            <span class = 'info-item'>
                更新日: UPDATE</span>
            <span class = 'info-item'>
                SIGNATURE
            </span>
        </div>
    </div>
</header>

