<style>
label[for="ID"]::before {
    content: ICON-NORMAL;
    vertical-align: middle;
}
        #ID:checked ~ label[for="ID"]::before {
            content: ICON-CHECKED;
            vertical-align: middle;
        }
        #ID-content {
            display: none;
        }
        #ID:checked ~ #ID-content {
            display: block;
        }
</style>

<div class="panel">
    <div style="display:none;" id="FORMNAME-plist">VAL</div>
    <form name="FORMNAME">
        <input type="checkbox" id="ID" style="display:none;" CHECKED title="折りたたみ">
        <label for="ID">
            PANEL-TITLE
        </label>
        <div id="ID-content">
            PANEL-CMD
            <div>
            PANEL-CONTENT
            </div>
        </div>
    </form>
</div>



