<style>
.world {
    border-radius: 5px;
    border: solid 1px var(--hover-color);
    margin-bottom: var(--margin);
}
.result-view {
    width: 100%;
    height: 300px;
    background-color: var(--back-color);
}
.world-name-container {
    background-color: var(--hover-color);
    color: white;
    padding: var(--padding);
}
.world-name-container .command-button {
    float: right;
}
.world-name-container .command-button:hover {
    background-color: var(--my-blue);
    color: white;
}
.world-content {
    padding: var(--margin);
    padding-top: calc(var(--margin)/2);
}
.world-status {
    display: inline-block;
}
</style>
<script>
function addSimulation(worldID) {
    alert("シミュレーションの追加（未実装）");
}
</script>
<div id="world-list">
<div class="world" id = "world-template">
    <div class="world-name-container">
        <label>NAME</label>
        <button class="command-button" onclick="addSimulation('default');">＋シミュレーションを追加</button>
    </div>
    <div class="world-content">
    WORLDCMD
    <div class="result-view">
        実行結果
    </div>
    </div>
</div>
</div>
