<div class="world" id = 'world-template'>
    <div class="world-name-container">
        <label>Default</label>
    </div>
    <div class="world-content">
        <div class="owner-only">
        <!--
            <div style="color: var(--my-black); font-size: 11pt; padding: 5px 0;">
                ANIM-STG-TITLE
            </div>
            ANIMATION-STG
        -->
        <div style="color: var(--my-black); font-size: 11pt; padding: 5px 0;">
            SIM-TITLE
        </div>
            WORLDCMD
        </div>
        <div style="color: var(--my-black); font-size: 11pt; padding: 5px 0;">
            REALTIME-STATS-TITLE
        </div>
            REALTIME-STATS
        <div style="position: relative;">
            <div id="sim-default" class="setting-panel">
                SETTINGS
            </div>
        </div>
        <div class="result-view">
            <div style="color: var(--my-black); font-size: 11pt; padding: 5px 0;">
                ANIM-FILTER-TITLE
            </div>
                ANIMATION-FILTER
                <div id='default-result'>
                </div>
        </div>
    </div>
</div>
