<h2 style="background-color: var(--hover-color);color:white; padding: 2px 15px;">CATEGORY</h2>
<table style="margin:0 auto; width: 100%;">
    <tr>
        <th style="background-color: black; color: white;">メソッド</th>
        <th style="background-color: black; color: white;">アクション</th>
        <th style="background-color: black; color: white;">オプション</th>
        <th style="background-color: black; color: white;">対応状況</th>
        <th style="background-color: black; color: white;">詳細</th>
    </tr>
    TABLEROW
</table>
